---
layout: base.njk
---

<article>
  <header>
    <time datetime="{{ date }}">{{ date }}</time>
    <div class="tags">
      {% for tag in tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
    <h1>{{ title }}</h1>
  </header>
  <div class="content">
    {{ content | safe }}
  </div>
</article>